.email-widget-wrapper{
    position: fixed;
    bottom: 75px;
    right: 15px;
    display: flex;
    z-index: 99;
}
.email-widget-icon{
    background: var(--green);
    width: 48px;
    height: 48px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 2px solid rgb(231, 212, 242);
    box-shadow: 1px 1px 3px rgba(11, 234, 15, 0.3);
}